<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg mb-2">
    <a class="navbar-brand" href="/">Kevin Milam</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>

        <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
                <div class="dropdown-menu" role="menu">
                    <a class="dropdown-item" href="#">Weather</a>
                </div>
            </li>
            <li><a class="nav-link" href="/contact">Contact</a></li> 
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>